@font-face {
  font-family: sushi;
  src: url("../fonts/sushi-sans.otf");
}
@font-face {
  font-family: yuki;
  src: url("../fonts/yukicode.otf");
}

body {
  font-family: sushi;
}
code {
  font-family: yuki;
  color: #666;
}
h1 {
  color: #a3b52c;
}
a {
  text-decoration: none;
  color: #a3b52c;
}
a:hover {
  color: #c1d835;
}
#logo {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#logo img {
  width: 16vh;
  height: 16vh;
}